@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Unbounded:wght@300;400;700;900&family=DM+Serif+Display:ital@0;1&display=swap');

/* ---------------- |~ VARIABLES --------------- */

:root{
    --bg: #181818 ;
    /*--bg: #242424 ;*/
    --surface: #151515 ;
    --border: #6e6c6c ;

    --acid: #c8f53b ;
    --sky: #5be0f5 ; 
    --lavender:#c8b4ff;
    --coral : #ff5c3a ;
    --cream: #e8f5eb ;
    --muted: #b8b6b6 ;
    --text: #f5f0e8d9;


    --electric : #3b54f5 ; /**/
    --rose: #FC0FC0 ; /**/

    --fontDisplay: 'Unbounded', sans-serif ;
    --fontSerif: 'DM Serif Display', sans-serif ;
    --fontMono: 'Space Mono', sans-serif ;

    --radius: 14px ; 
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) ;
}

/* ----------------- |~ ANIMATIONS ----------------------------- */

@keyframes pulse{
    0%, 100% {
        opacity: 1 ;
        transform: scale(1) ;
    }
    50%{
        opacity: 0.3 ;
        transform: scale(0.8) ;
    }
}
@keyframes bounce{
    0%, 100%{
        transform: translateY(0) ;
    }
    50%{
        transform: translateY(8px) ;
    }
}

@keyframes scrolling{
    0%{
        transform: translateX(0) ;
    }
    100%{
        transform: translateX(-50%) ;
    }
}


/* ---------------- |~ RESET ---------------- */
*, *::before, *::after { /*con la selección de seudoelementos*/
    box-sizing: border-box ; /* para que respete el tamaño indicado*/
    margin: 0 ; 
    padding: 0; 
}

html { 
    scroll-behavior: smooth; /*click en enlace interno lo lleve de manera suave*/
}

body {
  background: var(--bg) ;
  color: var(--cream) ;
  font-family: var(--fontMono) ;
  font-size: 15px ;
  line-height: 1.7 ; /*interlineado*/
  cursor : none ; /*oculta cursor*/
  overflow-x: hidden ; /*oculta desbordamiendo lateral (horizontal)*/
}

a { 
    color: inherit ; 
    text-decoration: none ; 
}
img { 
    max-width: 100% ; 
    display: block ; 
}

/* ---------------- |~ CURSOR ---------------- */
.cursorDot, .cursorRing{
    position: fixed ; /*lo quita del flujo normal y lo pone en otro lado*/
    border-radius: 50px ;
    pointer-events: none ; /*para que no tenga eventos*/
    z-index: 9999 ; /*mandarlo (stackearlo) hasta arriba*/
    mix-blend-mode: difference ; /*toma el color y lo resta al fondo para hacer contrastes y cambios de color*/
    transition: transform 0.15s ease, opacity 0.3s ease;
}
.cursorDot{
    width : 8px ;
    height: 8px ;
    background:var(--acid) ;
    transform: translate(-50%, -50%) ; /*izq-der, arr-ab*/
}
.cursorRing{
    width: 36px ;
    height: 36px ;
    border: 2px solid var(--acid) ;
    transform: translate(-50%, -50%) ;
    transition: width 0.3s ease, height 0.3s ease, transform 0.08s ease ;
}
.cursorRing.hovered{
    width: 65px ;
    height: 65px ;
}

/* ---------------- |~ DIVIDER ---------------- */

.sectionDivider{
    height: 1px ;
    background: linear-gradient(to right, transparent, var(--border), transparent) ; /*por defecto lo extiende de arriba-abajo, con el to right le decimos que de izquierda a derecha haga el gradiente*/
    margin: 0 80px ;
}



/* --------------- |~ CAPA VISUAL GRANULADA ----------------- */
body::before{
    content: '' ;
    position: fixed ; /*mantenga fija al scroll*/
    inset: 0 ; /*t|r|b|l| shorthand para poner la posición relativa a su contenedor*/
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.04'/%3E%3C/svg%3E") ;
    pointer-events: none ;
    z-index: 1000 ;
    opacity: 0.6 ;
}

/* --------------- |~ NAVBAR ----------------- */
.navbar{
    position: fixed ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    z-index: 500 ;
    display: flex ;
    align-items: center ;
    justify-content: space-between ; /*espacio entre elemntos en linea*/
    padding: 25px 58px ;
    background: rgba(13,13,13,0.85) ;
    backdrop-filter: blur(12px) ;
    border-bottom: 2px solid var(--border);
}

.navLogo{
    font-family: var(--fontDisplay) ;
    font-size: 14px ;
    font-weight: 700 ;
    letter-spacing: 0.08rem ;
    color: var(--acid) ;
    text-transform: uppercase ;
}

.navLinks{
    display: flex ;
    gap: 36px ;
    list-style: none ;
}

.navLinks a{
    font-family: var(--fontMono) ;
    font-size: 14px ;
    letter-spacing: 0.12em ;
    text-transform: uppercase;
    color: var(--muted) ;
    position: relative ;
    transition: color var(--transition) ;
}

.navLinks a::after{
    content: '' ;
    position: absolute ;
    bottom: -4px ;
    left: 0 ;
    right: 0 ;
    height: 1px ;
    background-color: var(--acid) ;
    transform: scaleX(0) ; /*escalar en eje x*/
    transform-origin: left ;
    transition: transform var(--transition) ;
}

.navLinks a:hover, .navLinks a.active{
    color: var(--acid) ;
}

.navLinks a:hover::after, .navLinks a.active::after{
    transform: scaleX(1) ; /*al a hovered y active crea la linea*/
}

.navMenuBtn{
    display: none ; /*quitarlo para solo ponerlo cuando la vista cambie*/
    background: none ;
    border: none ;
    color: var(--cream) ;
    cursor: none;
    font-size: 20px ;

}

/* --------------- |~ YO  ----------------- */

.me{
    min-height: 100vh ; /*viewport height, 1vh = 1%, ayuda a que se vea en toda la pantalla el inicio*/
    display: grid ;
    grid-template-columns: 1fr 1fr ; /*define un contenedor grid con columnas del mismo width, 1fraccion y 1 fraccion (osea 1/2 y 1/2 de la pantalla)*/
    padding-top: 80px ;
    position: relative ;
    overflow: hidden ; /*lo de ocultar el desbordamiento horizontal*/
}

.meTextCol{
    display: flex ;
    flex-direction: column ; /*stackea verticalmente*/
    justify-content: center ;
    padding: 80px 58px 80px 90px;
    position: relative ;
    z-index: 2 ;
}

.meTag{
    display: inline-flex ;
    align-items: center ;
    gap: 8px ;
    font-size: 14px ;
    letter-spacing: 0.2em;
    text-transform: uppercase ;
    color: var(--lavender) ;
    margin-bottom: 25px ;
}

.meTag::before{
    content: '' ;
    display: inline-block ;
    width: 24px ;
    height: 1px ;
    background-color: var(--lavender);
}

.meName{
    font-family: var(--fontDisplay) ;
    font-size: clamp(40px, 6vw, 90px) ; /*el de enmedio es el punto de cambio, hace un tope, para que lo minimo sea 40px y lo maximo 90px, si está en el rango tomará lo que sea, por ejemplo, si el contenedor mide 100 el 60% es 60px, lo cual es mayor de 40px pero menos de 90px asi que se queda en 60, si es 200 el 60% es 120, lo cual es mayor a 90px asi que se queda en 90*/
    font-weight: 900;
    line-height: 0.92 ; /*interlineado, en 0 se sobreponen*/
    text-transform: uppercase ;
    letter-spacing: -0.02em ;
    margin-bottom: 30px ;   
}

.meName span.accent {
    color: var(--acid);
}
.meName span.outline{
    -webkit-text-stroke: 2px var(--cream) ; /*como no es nativo se usa -webkit- entonces hace un contorno de 2px de color crema*/
    color: transparent ;
}

.meDesc{
    /*font-style: italic ;*/
    font-size: 16px ;
    color: var(--muted) ;
    max-width: 700px ;
    margin-bottom: 35px ;
    line-height: 1.6 ; /*interlineado*/
    text-align: justify ;
}

.meCTAs{
    display: flex ; /*para elementos hijos alineen*/
    gap: 16px ;
    flex-wrap: wrap ; /*si ya no hay espacio que baje*/
}

.btn{
    display: inline-flex ;
    align-items: center ;
    gap: 8px ;
    padding: 14px 28px ;
    font-size: 12px ;
    letter-spacing: 0.1em ;
    text-transform: uppercase ;
    border: none ;
    border-radius: var(--radius) ;
    cursor: none ;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
    position: relative ;
    overflow: hidden ;
}
.btn:hover{
    transform: translateY(-2px) ;
}
.btnPrimary{
    background-color: var(--acid);
    color: var(--surface);
    font-weight: 700 ;
}
.btnPrimary:hover{
    box-shadow: 0 8px 30px rgba(199, 245, 59, 0.35) ;
}
.btnGhost{
    background: transparent ;
    color: var(--cream );
    border: 1px solid var(--acid);
}
.btnGhost:hover{
    box-shadow: 0 8px 30px rgba(199, 245, 59, 0.35) ;
}
.meVisualCol{
    position: relative ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    overflow: hidden ;
}

.meBGShape{
    position: absolute ;
    inset: 0 ; /*shorthand de posición relativa*/
    /*
    ELECTRICO
    background : radial-gradient(ellipse at 55% 50%, rgba(12, 43, 240, 0.5) 0%, transparent 70%);

    TURQUEZAS
    background : radial-gradient(ellipse at 55% 50%, rgba(91, 225, 245, 0.4) 0%, transparent 70%);

     background : radial-gradient(ellipse at 55% 50%, rgba(0, 215, 248, 0.4) 0%, transparent 70%);

     ACIDO
    */ 
    background : radial-gradient(ellipse at 55% 50%, rgba(191, 255, 0, 0.4) 0%, transparent 65%);

    

}

/*contenedor de la foto*/
.mePhotoWrap{
    position: relative ;
    z-index: 2 ;
    width: 340px ;
    height: 400px ;
}

.mePhotoWrap img{
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
    /*osea le decimos q agarre el 100% del contenedor y q lo fitee bien?????'*/
    border-radius: var(--radius);
    /* Para cuadar un poco mejor */
    position: relative ;
    right: 5%;
}

/*[] ALGO PASA Q NO LO TOMA*/
.mePhotoBorder{
    position: absolute ;
    top: 20px ;
    left: 20px ;
    right: -20px ;
    bottom: -20px ;
    border: 2px solid var(--acid);
    border-radius: var(--radius) ;
    z-index: -1 ;
}

.meFloatTag{
    position: absolute ;
    border: 1px solid var(--border) ;
    border-radius: var(--radius) ;
    padding: 12px 18px ;
    font-size: 14px ;
    display: flex ;
    align-items: center ;
    gap: 8px ;
    white-space: nowrap ;
    background-color: var(--bg);
}

.meFloatTag .dot{
    width: 8px ;
    height: 8px ;
    background: var(--acid) ;
    border-radius: 50% ;
    animation: pulse 3s infinite ;
}

.meFloatTag1{
    top: 15% ;
    right: 5% ;
}
.meFloatTag2{
    bottom: 27% ;
    left: 7% ;
    color: var(--sky);
    border-color: var(--sky);
}
.meFloatTag2 .dot{
    background: var(--sky) ;
}

.meScrollHint{
    position: absolute ;
    bottom: 32px ;
    left: 80px ;
    display: flex ;
    align-items: center ;
    gap: 12px ;
    font-size: 11px ;
    letter-spacing: 0.15em ;
    text-transform: uppercase ;
    color: var(--muted);
    animation: bounce 2.5s ease-in-out infinite;
}
.meScrollHint::before{
    content: '' ;
    display: block ;
    width: 3px ;
    height: 40px;
    background: linear-gradient(to bottom, transparent, var(--muted)) ;
}


/* ------------------- |~ DIVISOR (MARQUEE) -------------------------- */


.marquee{
    overflow:hidden ;
    width: 100% ;
    padding: 14px ;
    border-top: 2px solid #3a3a3a ;
    border-bottom:2px solid #3a3a3a ;
}

.marqueeTrack{
    display: flex;
    gap: 48px ;
    width: max-content;
    animation: scrolling 18s linear infinite ;
    letter-spacing: 0.2em ;
    text-transform: uppercase ;
}

.marqueeItem{
    flex-shrink: 0 ;
}




/* ------------------- |~ SECTIONS  -------------------------- */
.section{
    padding: 100px 90px ; /*arriba bajo, iz der, a la iz son 90px*/
    position: relative ;
}

.sectionLabel{
    font-size: 14px ;
    letter-spacing: 0.2em ;
    text-transform: uppercase ;
    color: var(--lavender) ;
    margin-bottom: 25px ;
    display: inline-flex ;
    align-items: center ;
    gap: 8px ;

}
.sectionLabel::before{
    content: '' ;
    display: inline-block;
    width: 24px ;
    height: 1px ;
    background-color: var(--lavender);
}
.sectionTitle{
    font-family: var(--fontDisplay) ;
    font-size: clamp(40px, 6vh, 90px) ;
    font-weight: 900 ;
    line-height: 0.92 ;
    text-transform: uppercase ;
    letter-spacing: -0.02em ;
    margin-bottom: 60px ;
}
.sectionTitle .outline{
    -webkit-text-stroke: 2px var(--cream) ; /*como no es nativo se usa -webkit- entonces hace un contorno de 2px de color crema*/
    color: transparent ;    
}



/* ------------------- |~ SOBRE MI   -------------------------- */
.aboutGrid{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
    gap: 80px ; /**añado el gap por la forma en la que se acomodan las cosas, previene lo responsivo, es justo como un margen entre elementos, las lineas divisoras */
    align-items: start ;
}
.aboutText{
    font-size: 16px ;
    color: var(--text) ;
    max-width: 700px ;
    margin-bottom: 35px ;
    line-height: 1.6 ;
    text-align: justify ;
}

.aboutText p + p { 
    margin-top: 25px ;
} /*investigar operando + en el p+p, yo creo q es como en la clase aboutText si hay un p despues de un p que haga*/

.statsGrid{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
    gap: 2px ;
    background: var(--border) ;
    border: 1px solid var(--border) ;
    border-radius: var(--radius) ;
    overflow: hidden ;
}

.statCard{
    background: var(--bg) ;
    padding: 32px ;
    transition: backgroud var(--transition) ;
}

.statCard:hover{
    background: #1e1e1e ;
}

.statNumber{
    font-family: var(--fontDisplay) ;
    font-size: 42px ;
    font-weight: 900 ;
    line-height: 1 ;
    margin-bottom: 8px ;
}

.statNumber.c1{
    color: var(--acid) ;
}
.statNumber.c2{
    color: var(--coral) ;
}
.statNumber.c3{
    color: var(--sky) ;
}
.statNumber.c4{
    color: var(--lavender) ;
}

.statLabel{
    font-size: 12px ;
    letter-spacing: 0.1em ;
    text-transform: uppercase ;
    color: var(--muted) ;
}

/* ------------------- |~ PROYECTOS DESTACADOS   -------------------------- */

.portfolioGrid{
    display: grid ;
    grid-template-columns: repeat(12, 1fr) ;
    grid-auto-rows: 260px ;
    gap: 12px ;
}

.portfolioCard{
    background: var(--bg) ;
    border: 1px solid var(--bg) ;
    border-radius: 8px ;
    overflow: hidden ;
    position: relative ;
    cursor: none ;
    transition: transform var(--transition), border-color var(--transition) ;
}

.portfolioCard:hover{
    transform: translateY(-4px) ;
    border-color: var(--acid) ;
}

.portfolioCard.large{
    grid-column: span 7 ;
}
.portfolioCard.medium{
    grid-column: span 5 ;
}
.portfolioCard.wide{
    grid-column: span 12 ;
    grid-row: span 1 ;
}

.cardBg{
    position: absolute ;
    inset: 0 ;
    background-size: cover ;
    background-position: center ;
    transition: transform 0.4s ease ;
    filter: brightness(0.4) ;
    
}
.portfolioCard:hover .cardBg{
    filter: brightness(0.5) ;
}

.cardContent{
    position: absolute ;
    inset: 0 ; /*que estire para ocupar todo el tamaño de su contenedor padre*/
    padding: 28px ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-end ; /*para posicionar al final (abajo) del contenedor*/
    cursor : none ;
}

.cardTag{
    display: inline-block ;
    padding: 4px 10px ;
    font-size: 10px ;
    letter-spacing: 0.15em ;
    text-transform: uppercase ;
    border-radius: 2px ;
    margin-bottom: 12px ;
    align-self: flex-start ;
}

.cardTag.C{
    background: rgba(200,245,59,0.2) ; 
    color: var(--acid) ;
}
.cardTag.ds{
    background: rgba(255,92,58,0.2) ;  
    color: var(--coral) ;
}
.cardTag.java{
    background: rgba(91,224,245,0.2) ;
    color: var(--sky) ;
}
.cardTag.divulgacion{
    background: rgba(91, 150, 245, 0.2) ;
    color: var(--sky) ;
}

.cardTitle{
    font-family: var(--fontDisplay) ;
    font-size: 19px ;
    font-weight: 700 ;
    line-height: 1.2 ;
    margin-bottom: 8px ;
}

.cardDesc{
    font-size: 14px ;
    color : rgba(245, 240, 232, 0.706);
}

.cardArrow{
    position: absolute ;
    top: 24px ;
    right: 24px ;
    width: 36px ;
    height: 36px ;
    border-radius: 50% ;
    background: rgba(255,255,255,0.08) ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    font-size: 16px ;
    transform: rotate(-45deg) ;
    transition: background var(--transition), transform var(--transition) ;
}

.portfolioCard:hover .cardArrow{
    background: var(--acid) ;
    color: var(--surface) ;
    transform: rotate(0deg);
}
/*[A]*/










/* ------------------- |~ CONTACTO -------------------------- */

.contactSection{
    background: var(--bg) ;
    border-top: 1px solid var(--border) ;
    text-align: center ;
    padding: 100px 80px ;
}

.contactTitle{
    font-family: var(--fontDisplay) ;
    font-size: clamp(36px, 6vw, 80px );
    font-weight: 900 ;
    text-transform: uppercase ;
    line-height: 0.9 ;
    margin-bottom: 32px ;
}
.contactTitle .outline{
    -webkit-text-stroke: 1.5px var(--acid) ;
    color: transparent ;
}

.contactSub{
    font-size: 16px ;
    color: var(--muted) ;
    max-width: 600px ;
    margin: 0 auto 48px ;
}
.socialLinks{
    display: flex ;
    justify-content: center ;
    gap: 16px ;
    flex-wrap: wrap ;
    margin-top: 48px ;
}

.socialLink{
    display: flex ;
    align-items: center ;
    gap: 8px ;
    padding: 12px 20px ;
    border: 1px solid var(--border) ;
    border-radius: 100px ;
    font-size: 12px ;
    letter-spacing: 0.1em ;
    text-transform: uppercase ;
    color: var(--muted) ;
    transition: color var(--transition), border-color var(--transition) ;
    cursor : none ;
}

.socialLink:hover{
    color: var(--cream) ;
    border-color: var(--cream) ;
}


/* ------------------- |~ FOOTER -------------------------- */
footer{
    padding: 24px 80px ;
    border-top: 1px solid var(--border) ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    font-size: 12px ;
    color: var(--muted) ;
}

/* DUDAS
    object-fit
    unidad de medida em
*/

/*arriba bajo, iz der, a la iz son 90px*/
/*

}*/